<nav class="navBar" role="navigation">
    <div class="container container-nav">
        <a class="logo-nav" href="index.html">Traveler<em>.</em></a>
        <div class="wrap-nav-items">
          <ul class="nav-items">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Travel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="destination.html">Destination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pricing.html">pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">contact</a>
            </li>
            <li class="nav-item item-login">
              <span>login</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register.html">Register</a>
            </li>
          </ul>
        </div>
      </div>
</nav>
